body {
  font-size: 16px;
}

.mainContainer {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 64px;
}

@media (min-width: 768px) {
  .mainContainer {
    display: flex;
    justify-content: center;
  }
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-block-start: 8px;
  padding: 8px;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
}

.waves-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-input {
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 4px;
  padding: 16px;
  margin-block-start: 32px;
  margin-block-end: 8px;
}

.message-input::placeholder {
  color: #ccc;
}

.wave {
  background: #f4edfb;
  border-radius: 4px;
  padding: 0 8px;
  border-radius: 8px;
  box-shadow:  12px 12px 24px #cecece,
              -12px -12px 24px #f2f2f2;
}

.wave-adress {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wave-details {
  display: flex;
  justify-content: space-between;
}

.wave-time {
  font-size: 14px;
  color: #686868;
}
